doctype html
html
    head
        meta(charset = 'utf-8')
        link(href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,500,700,900" rel="stylesheet")
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title videoGAMEs OVER
        
    body
      .wrapper
        .container__modal
          .modal__inner
            h1.modal__inner__head Клик-клик
            p.modal__inner__text Суть игры заключается в последовательном нажатии на цифры, и так до конца, пока вы не дойдете до последней цифры.
              
            input.modal__inner__button#start_game(type="button" value="Начать игру")
        .container
          .select_size_container.select_size_container-active
            input.input_count.input_count_lines.hide(type='text' placeholder="Колочество строк")
            input.input_count.input_count_columns.hide(type='text' placeholder="Колочество колонок")
            input.hide(type='button' value='Сгенерировать')
            .open_menu_container
              a.open_menu(href='#')
                .btn_open_menu.white_bg
          .container__work
            .info_panel__container
              .timer Timer: 30s
              .score Score: 0
            .container__work__inner
              .item__row
                .item__num 
                .item__num 
                .item__num 
                .item__num 
                .item__num 
              .item__row
                .item__num 
                .item__num 
                .item__num 
                .item__num 
                .item__num 
              .item__row
                .item__num 
                .item__num 
                .item__num 
                .item__num 
                .item__num 
              .item__row
                .item__num 
                .item__num 
                .item__num 
                .item__num 
                .item__num 
              .item__row
                .item__num 
                .item__num 
                .item__num 
                .item__num 
                .item__num 
