@import "_help/_var.sass";

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, p, a, input {
	margin: 0;
	padding: 0;
	font-family: 'roboto';
}

input {
	border: none;
	outline: none;
	border: none;
}

.clearfix,
.clearfix::before,
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.click_off {
	pointer-events: none;
}

.hide {
	display: none;
}

.hide_element {
	animation: hide_element .8s forwards;
}

.start_element {
	animation: start_element .8s forwards;
}

@keyframes modal_show {
	from {
		transform: scale(0);
	}
	70% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}

@keyframes modal_hide {
	from {
		transform: scale(1);
	}
	70% {
		transform: scale(1.1);
	}
	to {
		transform: scale(0);
	}
}

@keyframes hide_element {
	from {
		transform: scale(1);
	}
	40% {
		transform: scale(1.2);
	}
	to {
		transform: scale(0);
	}
}

@keyframes start_element {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

body, html {
	height: 100%;
	width: 100%;
	font: 16px/1.5 'roboto', 'arial', 'sans-serif';
	background: #f9f9f9;
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 16px 2px rgba(75, 75, 75, .1);
	height: 100vh;
	position: relative;
	transition: all .8s;
	opacity: .1;
}

.modal-effect {
	opacity: 1;
	transition: all .8s;
}

.select_size_container {
	background: #fff;
	height: 80px;
	position: relative;
	width: 100%;
}
.accent_bg {
	background: $accent;
}

.input_count {
	margin: 0 auto;
}

.open_menu_container {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	right: 45px;
}

.open_menu {
	display: inline-block;
}

.btn_open_menu {
	position: relative;
	display: inline-block;
	&:before {
		top: -12px;
	}

	&:after {
		top: 8px;
	}
}

.btn_open_menu::before,
.btn_open_menu::after {
	content: '';
	display: block;
	position: relative;
}

.btn_open_menu,
.btn_open_menu::before,
.btn_open_menu::after {
	width: 45px;
	height: 4px;
	background: #fff;
}

.white_bg,
.white_bg::before,
.white_bg::after {
	background: #000;
}

.container__work {
	margin-top: 200px;
	text-align: center;
}
.container__work__inner {
	display: inline-block;
	padding: 16px;
	background: #333;
	border-radius:  0 0 6px 6px;
	font-size: 0;
}

.info_panel__container {
	margin: 0 auto;
	position: relative;
}

.timer, .score {
	padding: 12px 16px;
	display: inline-block;
}

.timer {
	text-align: left;
}

.score {
	text-align: right;
}

.item__num {
	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: #fff;
	color: #333;
	border-radius: 4px;
	font-size: 26px;
	margin: 2px;
	line-height: 50px;
	font-weight: bold;
	box-shadow: 2px 2px 12px 0px rgba(71, 212, 255, .2);
}

.item__num::selection {
   background: transparent;
}

.item__num::-moz-selection {
   background: transparent;
}

.item__num-active-success {
	box-shadow: 2px 2px 12px 0px rgba(71, 71, 71, .2);
	animation: hide_element .8s forwards;
	transition: background .3s;
	background: $accent;
}

.item__num-active-unsuccess {
	background: $accent2;
	transition: background .3s;
}

.container__modal {
	width: 100%;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 200px;
	margin: 0 auto;
	max-width: 550px;
}

.modal__inner {
	background: #fff;
	text-align: center;
	padding: 60px 40px;
	box-shadow: 2px 2px 18px 4px rgba(175, 175, 175, .4);
}

.container__modal__end {
	//transform: scale(0);
}

.modal_hide {
	animation: modal_hide .8s forwards;
}

.modal_show {
	animation: modal_show .8s forwards;
}

.modal__inner__head {
	color: #333;
	font-size: 30px;
  font-weight: 700;
}

.modal__inner__text {
	text-align: center;
	color: #333;
	margin: 0 auto;
	margin-top: 20px;
	font-weight: 300;
	font-size: 18px;
}

.modal__inner__button {
	margin-top: 18px;
	padding: 12px 24px;
	font-size: 18px;
	background: none;
	border: 5px solid #ffc61c;
	transition: all .3s;
	cursor: pointer;
	font-weight: 500;
	color: #333;
}

.modal__inner__button:hover {
	background: $accent;
	color: #fff;
}
